
.mini-map {
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: solid 2px #187d52;

    canvas {
        height: 100%;
        width: 100%;
        cursor: pointer;
        pointer-events: all;
        vertical-align: bottom
    }
}
